:root {
  --elem-trans: brown;
  --elem-curr: white;
  --elem-act: violet;
  --elem-lanth: rgb(228, 148, 0);
  --elem-noble: rgb(200, 0, 255);
  --elem-non: blue;
  --elem-alk: orangered;
  --elem-alk-earth: yellow;
  --elem-metalloid: aqua;
  --elem-pt-metal: chartreuse;
  --elem-unused: grey;
  --spacer: aqua;
}
body{
  background-color: skyblue;
}
h1 {
  color:midnightblue;
}
th{
  height: 75px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
* {
  zoom: 97.75%;
  -ms-zoom: 97.75%;
  -webkit-zoom: 97.75%;
  transform: none;
  transform-origin: none;
  -moz-transform:  scale(0.9775,0.9775);
  -moz-transform-origin: left center;
  font-family: Helvetica;
}
table {
  width: 90px
}
.spacer {
  border: none;
  background-color: var(--spacer);
  text-align: center;
}
canvas {
  margin-right:15px;
}
.sidel {
  float: left;
}
.sider {
  float: right;
}
.current{
  border: 2px solid var(--elem-curr);
  border-style: double;
  color: var(--elem-curr);
}
.empty {
  border: none;
}
.element {
  border: 1px solid black;
  border-radius: 15px;
  border-width: 2px;
  background-color: var(--elem-unused);
  text-align: center;
}
.trans {
  background-color: var(--elem-trans);
}
.actinide {
  background-color: var(--elem-act);
}
.nonmetal{
  background-color: var(--elem-non);
}
.lanthanide {
  background-color:var(--elem-lanth);
}
.noblegas {
  background-color: var(--elem-noble);
}
.alkali {
  background-color: var(--elem-alk);
}
.alkali-earth {
  background-color: var(--elem-alk-earth);
}
.metalloid {
  background-color: var(--elem-metalloid);
}
.post-trans {
  background-color: var(--elem-pt-metal);
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}