body{
    background-color:springgreen;
    border-radius: 15px;
}
h1 {
    color:midnightblue;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table {
    border-collapse: collapse;
}
.spacer {
    border: none;
    background-color: aqua;
}
.element {
  border-radius: 15px;
  border-width: 2px;
  background-color: brown;
}
.empty {
    border: none;
}
.actinide {
  background-color: violet;
}
.nonmetal{
  background-color: aqua;
}
.lanthanide {
  background-color: rgb(228, 148, 0);
}
.noblegas {
  background-color: purple;
}
.current{
  background-color: mediumturquoise;
  border-color: white;
  border-style: double;
}