body{
    background-color:springgreen;
}
h1 {
    color:midnightblue;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table {
    border-collapse: collapse;
}
.spacer {
    background-color: rgb(0, 255, 200);
    color: darkblue;
    border: none;
}
.empty {
    background-color: rgb(100,255,127);
    border: none;
}